@import '~normalize.css/normalize.css';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #494a4d;
}

#root {
    display: flex;
    overflow: hidden;
    align-items: center;
    height: 922px;
}